<% content_for :title, t("authors.index.title", default: "Authors") %>

<h1 class="text-2xl font-bold mb-4"><%= t("authors.index.title", default: "Authors") %></h1>

<ul class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
  <%# If you add a counter cache later, pass it as `count: author.articles_count` %>
  <% @authors
     .each do |author| %>
    <%= render "authors/card", author: author %>
  <% end %>
</ul>

<div class="mt-6">
  <%= render "shared/pagination", pagy: @pagy %>
</div>
